POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

CATALOG_WRITE_DB_USER=
CATALOG_WRITE_DB_PASSWORD=
CATALOG_WRITE_DB_NAME=

INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=
INVENTORY_DB_NAME=

ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_NAME=

NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=
NOTIFICATION_DB_NAME=